<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Helm template syntax cheat sheet</title>
    <meta
      name="description"
      content="Copy-paste snippets of common Helm template syntax."
    />
    <link rel="stylesheet" href="codemirror/codemirror.css" />
    <link rel="stylesheet" href="codemirror/material.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>
  <body>
    <div class="app">
      <div class="top">
        <a class="logo" href="/">Helm-playground.com</a>
        <a class="top__link top__link--active" href="/cheatsheet.html"
          >Syntax cheatsheet</a
        >
        <a class="top__link" href="/articles.html">Articles</a>
        <a
          style="margin-left: auto"
          class="top__link hide-on-mobile"
          href="https://shipmight.com"
          >Brought to you by Shipmight - Kubernetes-powered PaaS in your
          cloud</a
        >
      </div>
      <div class="content content--page">
        <h2><a href="#variables" id="variables">Variables</a></h2>
        <p>
          <a href="https://helm.sh/docs/chart_template_guide/function_list/"
            >See Helm documentation for full list of available functions</a
          >
        </p>
        <pre><code>name: {{ .Values.storageClassName }}
name: {{ .Values.storageClassName | quote }}
name: {{ .Values.storageClassName | default "default value" }}
name: {{ .Values.storageClassName | required ".storageClassName must be set" }}
name: {{ .Values.storageClassName | trim }}

name: {{ printf "%s-%d" .Values.storageClassName .Values.storageClassVersion }}
name: {{ .Values.storageClassName | replace "{placeholder}" "example" }}

{{ $fullName := printf "%s %s" .Values.firstName .Values.lastName }}

name: {{ .Values.storageClassName | trimAll "/" }}
name: {{ .Values.storageClassName | trimPrefix "/" }}
name: {{ .Values.storageClassName | trimSuffix "/" }}

name: {{ .Values.storageClassName | lower }}
name: {{ .Values.storageClassName | upper }}</code></pre>

        <h2><a href="#built-ins" id="built-ins">Built-ins</a></h2>
        <p>
          <a href="https://helm.sh/docs/chart_template_guide/builtin_objects/"
            >See Helm documentation for all options</a
          >
        </p>
        <pre><code>{{ .Release.Name }}
{{ .Release.Namespace }}

{{ .Chart.Name }}
{{ .Chart.Version }}

{{ .Files.Get config.ini }}</code></pre>

        <h2><a href="#conditionals" id="conditionals">Conditionals</a></h2>
        <pre><code>{{ if .Values.enablePersistence }}
  # ...
{{ else if .Values.enableFilesystem }}
  # ...
{{ else }}
  # ...
{{ end }}

# equal, not equal
{{ if eq .Values.environment "production" }}
{{ if ne .Values.environment "production" }}

# and, or
{{ if and (eq .Values.environment "production") (eq .Values.host "minikube") }}
{{ if or (eq .Values.environment "production") (eq .Values.host "minikube") }}

# not (negation)
{{ if not (eq .Values.environment "production") }}

# greater than, less than
{{ if gt (len .Values.items) 3 }}
{{ if gte (len .Values.items) 3 }}
{{ if lt (len .Values.items) 3 }}
{{ if lte (len .Values.items) 3 }}

# strings
{{ if .Values.name | contains "example" }}
{{ if .Values.name | hasPrefix "foobar-" }}
{{ if .Values.name | hasSuffix "-foobar" }}
{{ if .Values.name | regexMatch "^[a-z]+$" }}

# lists
{{ if .Values.items | has "example" }}

# ternary
{{ ternary "returned if true" "returned if false" .Values.someBoolean }}</code></pre>

        <h2><a href="#loops" id="loops">Loops</a></h2>
        <pre><code># simple
volumes:
  {{ range .Values.volumeIds }}
  - volumeName: {{ . }}
  {{ end }}

# with named variable
volumes:
  {{ range $volumeId := .Values.volumeIds }}
  - volumeName: {{ $volumeId }}
  {{ end }}

# with index (array) or key (dict)
volumes:
  {{ range $key, $value := .Values.configuration }}
  - {{ $key }}: {{ $value }}
  {{ end }}</code></pre>

        <h2><a href="#indentation" id="indentation">Indentation</a></h2>
        <pre><code>env:
  {{ .Values.environmentVariables | toYaml | indent 2 }}

env: {{ .Values.environmentVariables | toYaml | nindent 2 }}</code></pre>

        <h2><a href="#includes" id="includes">Includes</a></h2>
        <pre><code># define templates in _helpers.tpl
{{- define "your-project.image" -}}
{{ printf "%s:%s" .Values.image.name .Values.image.tag | quote }}
{{- end -}}

# use in other files
image: {{ include "your-project.image" . }}

# more specific parameters as the scope
{{- define "your-project.someInclude" -}}
{{ . | replace "{placeholder}" "example" }}
{{- end -}}

# usage
foobar: {{ include "your-project.someInclude" .Values.foobar }}</code></pre>

        <h2><a href="#lookup" id="lookup">Lookup</a></h2>
        <pre><code>{{ $previous := lookup "v1" "Secret" .Release.Namespace "some-secret" }}
data:
  {{- if $previous }}
  foobarPassword: {{ $previous.data.foobarPassword | quote }}
  {{- else if .Values.foobarPassword }}
  foobarPassword: {{ .Values.foobarPassword | b64enc | quote }}
  {{- else }}
  foobarPassword: {{ randAlphaNum 40 | b64enc | quote }}
  {{- end }}</code></pre>

        <h2><a href="#fail" id="fail">Fail</a></h2>
        <pre><code>{{ if eq .Values.storageClassName "foobar1" }}
  # ...
{{ else if eq .Values.storageClassName "foobar2" }}
  # ...
{{ else }}
  {{ fail ".storageClassName is not recognized" }}
{{ end }}</code></pre>

        <h2><a href="#dates" id="dates">Dates</a></h2>
        <p>
          <a
            href="https://helm.sh/docs/chart_template_guide/function_list/#date"
            >See Helm documentation for notes about formatting</a
          >
        </p>
        <pre><code># ISO 8601, format string is provided as a lookalike-string
{{ now | date "2006-01-02T15:04:05" }}</code></pre>

        <h2><a href="#base64" id="base64">Base64</a></h2>
        <pre><code>{{ .Values.someData | b64enc }}
{{ .Values.someData | b64dec }}</code></pre>

        <h2><a href="#uuids" id="uuids">UUIDs</a></h2>
        <pre><code>id: {{ uuidv4 }}</code></pre>

        <h2><a href="#crypto" id="crypto">Crypto</a></h2>
        <pre><code>{{ .Values.someData | sha256sum }}

{{ .Values.someData | encryptAES "secret key" }}
{{ .Values.someData | decryptAES "secret key" }}</code></pre>

        <hr />

        <p>
          Source code for this page can be found on
          <a href="https://github.com/shipmight/helm-playground">GitHub</a>.
        </p>

        <p class="ad">
          FYI! This site uses Fathom Analytics which does not use cookies. Use
          <a href="https://usefathom.com/ref/4HFQGS" target="_blank"
            >this link</a
          >
          for a $10 discount.
        </p>
      </div>
    </div>
    <script src="codemirror/codemirror.js"></script>
    <script src="codemirror/yaml.js"></script>
    <script>
      const preElements = Array.from(document.querySelectorAll("pre"));
      for (const preElement of preElements) {
        new CodeMirror(
          (codemirror) => {
            preElement.replaceWith(codemirror);
          },
          {
            mode: "yaml",
            theme: "material",
            readOnly: true,
            value: preElement.textContent,
          }
        );
      }
    </script>
    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="ZNCHLJMX"
      defer
    ></script>
  </body>
</html>
